@model todotoo.Models.Tasks
@{
    ViewBag.Title = "CreateTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateTask</h2>

<form action="/UserPanel/CreateTask" method="post">
    Title: <input type="text" class="form-check" name="Title" />
    Descrription: <input type="text" class="form-check" name="Description" />
    Priority: <input type="text" class="form-check" name="Priority" />
    Status: <input type="text" class="form-check" name="Status" />
    <input type="submit" class="btn btn-success" value="Add Task" />
</form>

