@model todotoo.Models.User
@{
    ViewBag.Title = "Admin Control Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    Quick Access
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/Users/ViewUsers">User Control</a></li>
                    <li class="list-group-item"><a href="/Users/ViewContents">Content Control</a></li>
                    <li class="list-group-item"><a href="/UserPanel/Logout/@Model.UserID">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    Create Content
                </div>
                <div class="card-body">
                    <form action="/Users/CreateContent" method="post">
                        Title: <input type="text" name="Title" class="form-control" />
                        Body: <textarea name="Body" rows="10" cols="50" class="form-control"></textarea><br />
                        <input type="submit" class="btn btn-success" value="Create" />
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</main>