@model todotoo.Models.User
@{
    ViewBag.Title = "Admin Control Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-header bg-secondary text-white">
                    Quick Access
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/Users/ViewUsers">User Control</a></li>
                    <li class="list-group-item"><a href="/Users/ViewContents">Content Control</a></li>
                    <li class="list-group-item"><a href="/UserPanel/Logout/@Model.UserID">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Create Content
                </div>
                <div class="card-body">
                    <form action="/Users/CreateContent" method="post">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" name="Title" class="form-control" id="title" />
                        </div>
                        <div class="form-group">
                            <label for="body">Body:</label>
                            <textarea name="Body" rows="10" class="form-control" id="body"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
